* {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    color: #009688;
    font-weight: 900;
}

li {
    font-size: 1.5rem;
    color: #263238;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.header {
    border-bottom: #CCC 1px solid;
}

.body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.drop-zone {
    padding: 2rem;
    background: #263238;
}

.drop-zone ~ .drop-zone {
    margin-top: 1rem;
}

.draggable {
    background: #F5F5F5;
    padding: 1rem;
    cursor: pointer;
}

.draggable.dragging {
    opacity: .5;
}